.main.posts-new
  .container
    %h1.form-heading 編集する
    = form_with url: "/posts/#{@post.id}/update", local: true do |f|
      .form
        .form-body
          %textarea{:name => "content"} #{@post.content}
          = submit_tag "保存"