.side-index
  .side-index__memo
    = link_to "メモ", posts_index_path, class: "a"
  %ul.side-index__label
    %li インスピレーション
    %li プライベート
    %li 仕事
    %li ラベルの編集
  .side-index__trash-can
    ゴミ箱

.main.posts-index
  .new-memo-form
    = link_to "新しいメモの作成", posts_new_path, class: "a"
  .container
    - @posts.each do |post|
      .posts-index-item
        = link_to post.content, "/posts/#{post.id}", class: "a"

