.main.posts-new
  .container
    %h1.form-heading メモを作成
    = form_with url: posts_create_path, local: true do |f|
      .form
        .form-body
          - @post.errors.full_messages.each do |message|
            .form-error
              = message
          %textarea{:name => "content"} #{@post.content}
          = submit_tag "閉じる"